{% extends "app.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <title>About Us</title>
            <div class="container mt-5">
                <h2>About This Application</h2>
                    <p> This web application is built using Flask and provides user authentication features including registration, login, and a user dashboard.</p>           
                    <p class="text-success"><I>Developed by Vivek.</I></p>
            </div>
        </div>    
    </div> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer style="text-align: center; padding: 20px; background-color: #c3c6c6ff; margin-top: 50px;">
    <ul class="list-style-none d-flex flex-justify-center flex-wrap mb-2 mb-lg-0" aria-labelledby="sr-footer-heading" 
        style="list-style: none; padding: 0; justify-content: center; gap: 20px;">
        <li>
            <a href="https://www.linkedin.com/in/vivek666" target="_blank">
                <i class="fab fa-linkedin"></i> 
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/500px-LinkedIn_logo_initials.png"
                    alt = "My linkedin Profile" style="width: 24px; height: 24px;">
            </a>
        </li>
        <li>
            <a href="https://github.com/phantam666" target="_blank">
               <i class="fab fa-github"></i>
               <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="My GitHub Profile" style="width: 24px; height: 24px;">
            </a>
        </li>
    </ul>
</footer>

{% endblock %}
